body, html {
    height: 100%;
}

.parallax {
    background-image: url("https://www.hdwallpapers.in/walls/macbook_pro_color_splash-wide.jpg");
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.parallax1 {
    background-image: url("https://9to5mac.files.wordpress.com/2016/11/color-burst-2.jpg?quality=82&strip=all");
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
