h1	{color: #ff9999;}

h2	{color: #f1f1f1;}

a	{
	color: red;
	text-decoration: none;
}

#nav	{
	margin: 10px 5px 15px 20px;
	border: 5px dotted red ;
}

#nav a	{
	text-decoration: none;
	color: #000000;
}

.recommended	{
	font-family: verdana;
	font-variant: small-caps;
	word-spacing: 15px
}