body, html {
    height: 100%;
}

.parallax {
    background-image: url("https://www.hdwallpapers.in/walls/macbook_pro_color_splash-wide.jpg");
    height: 75%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.parallax1 {
    background-image: url("https://9to5mac.files.wordpress.com/2016/11/color-burst-2.jpg?quality=82&strip=all");
    height: 75%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column {
  height: 200px;
  margin: 10px;
  text-align: center;
  font-size: 2em;

    }

.card {
  margin: 10px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;

}
